body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding:25px;
    justify-content: space-between;
    align-items: center;  
}
.logo{
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    }
.description-text{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}
a{
    color: whitesmoke;
text-decoration: none;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 15px;
    color: #E5E7EB;
}
.site-description{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px;
    text-align: left;
}

.img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center ;   
    padding: 0px;
    margin-top: -200px;
    flex-wrap: wrap;
}
button{
    background-color: #3882f6;
    color: white;
    padding: 6px;
    border-radius: 6px;
    align-self: flex-start;   
}


.titulo1{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    flex-direction: row;
}

.container{
    padding: 50px;
    margin: 80px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.img1,
.img2,
.img3{
    border: 2px solid white;
    border-radius: 10px;
}

.parrafo{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
    font-style: italic;
}

.autor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-top: -90px;
    margin-right: 10px;
    
}

.container1{
    padding: 300px;
}
.callto{
    background-color: #3882f6;
    padding: 20px;
    color: whitesmoke;
    border-radius: 10px;
}
.footer{
    position: relative;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;     
}